<!DOCTYPE html>
<html>
<head>
  <!-- bootstrap-css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- bootstrap-js -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<style>
 		.card {
 			border:none;

 		}
 		.navbar {
 			background: #f5f5f5;
 		}


	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
			</div>

			<div class="col-10">
				<nav class="navbar justify-content-center">
					<a class="navbar-brand"><strong>Serving Now</strong></a>
				</nav>

				<br>

				<h2>Hello, {{ kitchen.kitchen_name.S }} </h2>

				<div class="card">
					<div class="card-body">
            An order has been made by {{ customer }}. You can visit your Serving Now <a href="http://localhost:8080/kitchens/report"> vendor account </a> to view the full details.
					</div>
				</div>

				<br>

				<h4>Their Order</h4>

				<div class="card">
					<div class="card-body">
						 <div class="row">
							<div class="col-sm">
								<strong>Item</strong><br><br>
								{% for item in order_items %}
									{{ item.meal_name.S }}<br>
								{% endfor %}
								<strong>Total</strong>
							</div>
							<div class="col-sm">
								<strong>Quantity</strong><br><br>
								{% for item in order_items %}
									{{ item.qty.N }}<br>
								{% endfor %}
								<strong>(w/ Tax)</strong>
							</div>
							<div class="col-sm">
								<strong>Cost</strong><br><br>
								{% for item in order_items %}
									${{ item.price.N }}<br>
								{% endfor %}
								<strong>${{ totalAmount }}</strong>
							</div>
						</div>
					</div>
				</div>
				<br>

				<!-- <h4>Pickup Information</h4>
				<div class="card">
					<div class="card-body">
						Pickup for {{ name }} at {{ kitchen.kitchen_name.S }}
							<div class="card-body">
								{{ kitchen.street.S }}<br>
								{{ kitchen.city.S }}, {{ kitchen.st.S }}<br>
								{{ kitchen.phone_number.S }}
							</div>
					</div>
				</div> -->
			</div>

			<div class="col">
			</div>
	  	</div>
	</div>
</body>
</html>
